.index .am-carousel {
  height: 212px !important;
}
.am-flexbox-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  padding: 15px 0;
}
.am-flexbox-item img {
  width: 48px;
}